.popup__container {
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  margin: 195px auto 0 auto;
  border-radius: 10px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 680px) {
  .popup__container {
    max-width: 282px;
    margin-top: 123px;
    min-height: 322px;
  }
}