.profile__name-status {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 336px;
  width: 100%;
}
@media screen and (max-width: 680px){
  .profile__name-status {
    max-width: 189px;
}
}
