.profile__left {
    display: flex;
    gap: 30px;
}
@media screen and (max-width: 680px){
    .profile__left {
      flex-direction: column;
      gap: 26px;
  }
  }
  /* @media screen and (max-width: 680px){
    .profile__left {
      max-width: 282px;
  }
  } */