.profile__info {
    display: flex;
    margin-top: 22px;
    gap: 18px;  
}
@media screen and (max-width: 680px){
    .profile__info {
      margin-top: 0;
      gap: 10px;
  }
  }
  @media screen and (max-width: 320px){
    .profile__info {
      max-width: 282px;
      margin-left: 25px;
  }
  }
  