.profile__button {
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    
}
.profile__button:hover {
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .profile__button {
      display: flex;
      margin-top: 33px;
    }
  }